body {
    background-color: #0a0a0a;
    color: white;
    font-family: sans-serif;
    margin: 0;
    text-align: center; /* Центрирует заголовки и текст */
}

/* ШАПКА */
.navbar {
    background: #141414;
    padding: 20px;
    display: flex;
    justify-content: space-around; /* Раздвигает лого и профиль */
    align-items: center;
    border-bottom: 1px solid #262626;
    margin-bottom: 30px;
}

.nav-logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-user {
    display: flex;
    align-items: center;
}

/* КНОПКИ */
.btn-profile {
    background: #8b5cf6;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
}

.btn-exit {
    background: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

/* СЕТКА (ЦЕНТРАЛЬНАЯ) */
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Вот это вернет карточки в центр */
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto; /* Центрирует сам блок сетки */
    padding: 20px;
}

.card {
    background: #141414;
    border: 1px solid #262626;
    border-radius: 20px;
    padding: 30px;
    width: 200px;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    border-color: #8b5cf6;
    transform: translateY(-5px);
}

.icon {
    font-size: 40px;
    display: block;
    margin-bottom: 10px;
}

h3 {
    margin: 0;
    font-size: 16px;
}
